@font-face {
  font-family: D-DIN;
  src: url("other/D-DIN.otf") format("opentype");
}

@font-face {
  font-family: D-DIN;
  font-weight: bold;
  src: url("other/D-DIN-Bold.otf") format("opentype");
}

:root {
  --accentedColor: #96B6C5;
  --primaryText: #313131;
  --secondaryText: #919191;
  --headerText: #616161;
  --disableText: #C2C2C2;

  --separator: #E4E4E4;
  --inactiveElement: #ECECEC;
  --whiteBackground: #F5F5F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: D-DIN;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  padding-top: 12svh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 12svh;
  width: 100%;
  min-height: 60px;
  border-bottom: 0.5px solid var(--separator);
  backdrop-filter: blur(6px);
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--headerText);
  height: 12svh;
  background: linear-gradient(to left,
        #00e0ec,
        #008ba7,
        #bfb4c9,
        #ff9d77);
}

.right-links {
  display: flex;
  gap: 20px;
}

.right-links > li > a {
  color: var(--primaryText);
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  margin: 50px 200px;
}

header {
  min-height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container {
  background-image: url("images/clark-van-der-beken-Tk0B3Dfkf_4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.name {
  font-size: 48px;
  font-weight: bold;
  color: var(--primaryText);
  letter-spacing: -1.5px;
  background-color: white;
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 32px;
  color: var(--secondaryText);
  letter-spacing: -1.5px;
}

.headline {
  /* margin-inline: auto;  */
  /* max-width: 960px; */
  text-align: justify;
  hyphens: auto;
}

h1 {
  font-size: 32px;
  letter-spacing: -1.5px;
  color: var(--primaryText);
}

h2 {
  font-size: 24px;
  color: var(--primaryText);
}

p {
  font-size: 24px;
  color: var(--headerText);
}

.project-text > p {
  font-size: 20px;
  color: var(--headerText);
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-headline {
  text-align: center;
  margin-bottom: 20px;
}

.collaboration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
      appearance: none;
      background: #ff9d77;
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
}

.find-me {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  height: 30px;
  width: 30px;
}

/* Styles for the music player */

.music-player {
  display: flex;
  align-items: center;
}

.music-container {
  display: flex;
  background-color: #008ba72c;
  border-radius: 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 40px;
}

.img-container > img {
  width: inherit;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

/* .img-container::after {
  content: '';
  background-color: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  transform: translate(-50%, -90%);
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.music-container.play .img-container > img {
  animation-play-state: running;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.music-info {
  background-color: rgba(245, 222, 179, 0.325);
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 10px;
  width: calc (100% - 40px);
  transform: translate(0%);
  padding: 10px 10px 10px 10px;
  opacity: 0;
  transform: translate(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
  
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(100%);
}

.progress-container {
  background-color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: red;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
