@font-face {
  font-family: D-DIN;
  src: url("other/D-DIN.otf") format("opentype");
}

@font-face {
  font-family: D-DIN;
  font-weight: bold;
  src: url("other/D-DIN-Bold.otf") format("opentype");
}

:root {
  --accentedColor: #96B6C5;
  --primaryText: #313131;
  --secondaryText: #919191;
  --headerText: #616161;
  --disableText: #C2C2C2;

  --separator: #E4E4E4;
  --inactiveElement: #ECECEC;
  --whiteBackground: #F5F5F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--whiteBackground);
  font-family: D-DIN;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* .header {
  min-height: 50svh;
  max-width: 960px;
  margin-inline: auto;
} */

.navbar {
  display: flex;
  justify-content: space-between;
}

.right-links {
  display: flex;
}