---
import '../styles/global.css'
---

<div class='music-player'>
  <div class='music-container'>
    <div class='music-info'>
      <h5 id='title'>Wishful Thinking</h5>
      <div class='progress-container'>
        <div class='progress'></div>
      </div>
    </div>

    <audio src='music/Mona-Wishful Thinking.mp3' id='audio'></audio>

    <div class='img-container'>
      <img
        src='images/clark-van-der-beken-Tk0B3Dfkf_4-unsplash.jpg'
        alt='music-cover'
        id='cover'
      />
    </div>

    <div class='navigation'>
      <button id='prev' class='action-btn'> Prev </button>
      <button id='play' class='action-btn action-btn-big'> Play </button>
      <button id='next' class='action-btn'> Next </button>
    </div>
  </div>
</div>
