---
import MusicPlayer from '../components/MusicPlayer.astro'
import '../styles/global.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='author' content='Mona Naamani' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Mona Naamani || Portfolio</title>
  </head>
  <body>
    <nav class='navbar'>
      <ul class='right-links'>
        <li><a class='header-link' href='#about-me'> About Me </a></li>
        <li>
          <a class='header-link' href='#featured-work'> Featured Work </a>
        </li>
        <li><a class='header-link' href='#'> Contact Me </a></li>
      </ul>
      <div>
        <MusicPlayer />
      </div>
    </nav>
    <main>
      <slot/>
    </main>
    <div class='footer'>Copyright © Mona Naamani 2024</div>
  </body>
</html>